<!DOCTYPE html>
<html>
<head>
  <title>SCommerce</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag  "depot", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>




</head>
<body id="store">
	<div id="banner">
		<%= image_tag("logo.png") %><br />
		<%= @page_title || "   Simple Commerce" %>
	</div>
<div id="columns">
	
	<% if @cart %>
<%= hidden_div_if(@cart.line_items.empty?, :id => "cart") do %>
<%= render @cart %>
<% end %>
<% end %>


		
		<%= link_to 'Home', store_path %><br/>
		<a href="http://www...">FAQ</a><br />
		<a href="http://www...">Novidades</a><br />
		<a href="http://www...">Contato</a><br />
	</div>

	<div id="main">
		<%= yield %>
	</div>


</div>



</body>
</html>
